@font-face{
    font-family: space;
    src:url("./space-age.ttf");
}
body{
 background-image: url('./2001.webp'); 
 background-repeat: no-repeat;
 background-size: cover;
 min-height: 100%;
 width:100%;
}


h2, h3, h4 {
  font-family: Aldrich;  
}
  p {
  font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-family: space;
}
    
.body-wrapper{
    background-color:#F5F5F5;
    margin-bottom: 0px;
    height: auto;
    width:1200px;
    margin-right: auto;
    margin-left:auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:auto;
    grid-template-areas: "name nav nav"
                        "header header header"
                        "content content content"
                        "footer footer footer" 
        
    }

    .brand-name{
        grid-area: name;
        padding-left:10px;
        color:white;
        background-color:#212121;
       line-height: 100px;
       margin-top:0px;
       margin-bottom:0px;
       
    }

    .nav-bar{
        grid-area: nav;
        line-height: 100px;
        margin-top:0px;
        margin-bottom:0px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
   
    }

    .nav-bar a{
       color:white;
        text-decoration:none;
    }


  .navigation {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        list-style: none;
        text-align: center;
        -webkit-margin-before: 0px;
        -webkit-margin-after: 0px;
        -webkit-padding-start: 0px;
        vertical-align: middle;
        background-color:#212121;
  }

    .header{
        grid-area: header;
        display: grid;
        grid-template-areas: "head head"
                             "c1 c2";
        grid-column-gap: 30px;
        padding-right: 10px;
        padding-left: 10px;
        background-color:#F5F5F5;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .head{
        grid-area: head;
    }

    .head h2{
        margin-bottom: 0px;
    }

    .c1{
        grid-area: c1;
    }

      .c2{
        grid-area: c2;
    }

   .content-block{
       padding-right:10px;
       padding-left: 10px;
       grid-area: content;
       display: grid;
       width:1200px;
       grid-template-columns: 1fr 1fr 1fr;
       grid-template-rows: auto;
       grid-column-gap: 20px;
       grid-template-areas: "cheader cheader cheader"
                            "content1 content2 content3"
   }

   .content-header{
       grid-area: cheader;
       
   }

   .content-header h3{
       margin-bottom: 0px;
   }

   .content-item .img{
    max-width : 300px !important;
   }

    .content-item.first{
        grid-area: content1;
    }
   
    .content-item.second{
        grid-area: content2;
    } 

    .content-item.third{
        grid-area: content3;
        padding-right:20px;
    }

   .footer-nav{
       grid-area: footer;
       width:100%;
       background-color:black;
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
        list-style: none;
        text-align: center;
        -webkit-margin-before: 0px;
        -webkit-margin-after: 0px;
        -webkit-padding-start: 0px;
        vertical-align: middle;
        
   }

  footer .links-list{
       line-height: 70px;
        
   }
  footer ul li a{
     color:white;
     font-family: Arial, Helvetica, sans-serif;

  }



